body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1912px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u14571_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1912px;
  height:914px;
  background:inherit;
  background-color:rgba(241, 243, 248, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14571 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1912px;
  height:914px;
  display:flex;
}
#u14571 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14571_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u14572_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1912px;
  height:69px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14572 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1912px;
  height:69px;
  display:flex;
}
#u14572 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14572_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u14573_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u14573 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:15px;
  width:120px;
  height:40px;
  display:flex;
}
#u14573 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14573_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14574_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:16px;
}
#u14574 {
  border-width:0px;
  position:absolute;
  left:1812px;
  top:27px;
  width:14px;
  height:16px;
  display:flex;
}
#u14574 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14574_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u14575_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14575 {
  border-width:0px;
  position:absolute;
  left:1831px;
  top:27px;
  width:41px;
  height:16px;
  display:flex;
}
#u14575 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u14575_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u14576_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:6px;
}
#u14576 {
  border-width:0px;
  position:absolute;
  left:1876px;
  top:32px;
  width:10px;
  height:6px;
  display:flex;
}
#u14576 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14576_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u14578_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u14578 {
  border-width:0px;
  position:absolute;
  left:177px;
  top:82px;
  width:12px;
  height:12px;
  display:flex;
}
#u14578 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14578_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u14579 {
  border-width:0px;
  position:absolute;
  left:201px;
  top:69px;
  width:1711px;
  height:845px;
}
#u14579_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1711px;
  height:845px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14579_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u14580_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1672px;
  height:789px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:12px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14580 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:10px;
  width:1672px;
  height:789px;
  display:flex;
}
#u14580 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14580_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u14581 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14582_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#555555;
}
#u14582 {
  border-width:0px;
  position:absolute;
  left:146px;
  top:40px;
  width:97px;
  height:22px;
  display:flex;
  font-size:16px;
  color:#555555;
}
#u14582 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u14582_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u14583_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:20px;
}
#u14583 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:38px;
  width:25px;
  height:20px;
  display:flex;
  color:#555555;
}
#u14583 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14583_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u14584_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#555555;
}
#u14584 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:40px;
  width:33px;
  height:22px;
  display:flex;
  font-size:16px;
  color:#555555;
}
#u14584 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u14584_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u14585_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:35px;
}
#u14585 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:32px;
  width:1px;
  height:34px;
  display:flex;
}
#u14585 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14585_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u14586_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1634px;
  height:540px;
}
#u14586 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:91px;
  width:1634px;
  height:540px;
  display:flex;
}
#u14586 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14586_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u14587_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#386CFC;
  text-align:left;
}
#u14587 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:497px;
  width:101px;
  height:24px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#386CFC;
  text-align:left;
}
#u14587 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14587_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14588_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:845px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14588 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:69px;
  width:201px;
  height:845px;
  display:flex;
}
#u14588 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14588_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u14590 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14591 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14592_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:57px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u14592 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:69px;
  width:195px;
  height:57px;
  display:flex;
  font-size:18px;
  color:#FFFFFF;
}
#u14592 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14592_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14593 {
  position:absolute;
  left:3px;
  top:126px;
  visibility:hidden;
}
#u14593_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:195px;
  height:209px;
  background-image:none;
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  overflow:hidden;
}
#u14593_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u14594_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:127px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#8C8C8C;
}
#u14594 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:127px;
  display:flex;
  color:#8C8C8C;
}
#u14594 .text {
  position:absolute;
  align-self:center;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u14594_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14595 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14596_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(140, 140, 140, 1);
  border-radius:5px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#8C8C8C;
}
#u14596 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:1px;
  width:180px;
  height:40px;
  display:flex;
  color:#8C8C8C;
}
#u14596 .text {
  position:absolute;
  align-self:center;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u14596_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(140, 140, 140, 1);
  border-radius:5px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#8C8C8C;
}
#u14596.mouseOver {
}
#u14596_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(22, 155, 213, 1);
  border-radius:5px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#8C8C8C;
}
#u14596.selected {
}
#u14596_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14597_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(140, 140, 140, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#8C8C8C;
}
#u14597 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:41px;
  width:180px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#8C8C8C;
}
#u14597 .text {
  position:absolute;
  align-self:center;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u14597_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(140, 140, 140, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#8C8C8C;
}
#u14597.mouseOver {
}
#u14597_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(22, 155, 213, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#8C8C8C;
}
#u14597.selected {
}
#u14597_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14598_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(140, 140, 140, 1);
  border-radius:5px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#8C8C8C;
}
#u14598 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:163px;
  width:180px;
  height:46px;
  display:flex;
  color:#8C8C8C;
}
#u14598 .text {
  position:absolute;
  align-self:center;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u14598_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:46px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(140, 140, 140, 1);
  border-radius:5px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#8C8C8C;
}
#u14598.mouseOver {
}
#u14598_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:46px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(22, 155, 213, 1);
  border-radius:5px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#8C8C8C;
}
#u14598.selected {
}
#u14598_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14599_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(140, 140, 140, 1);
  border-radius:5px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#8C8C8C;
}
#u14599 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:81px;
  width:180px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#8C8C8C;
}
#u14599 .text {
  position:absolute;
  align-self:center;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u14599_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(140, 140, 140, 1);
  border-radius:5px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#8C8C8C;
}
#u14599.mouseOver {
}
#u14599_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(22, 155, 213, 1);
  border-radius:5px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#8C8C8C;
}
#u14599.selected {
}
#u14599_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14600_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(140, 140, 140, 1);
  border-radius:5px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#8C8C8C;
}
#u14600 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:121px;
  width:180px;
  height:46px;
  display:flex;
  color:#8C8C8C;
}
#u14600 .text {
  position:absolute;
  align-self:center;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u14600_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:46px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(140, 140, 140, 1);
  border-radius:5px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#8C8C8C;
}
#u14600.mouseOver {
}
#u14600_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:46px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(22, 155, 213, 1);
  border-radius:5px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#8C8C8C;
}
#u14600.selected {
}
#u14600_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14601 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14602_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:57px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u14602 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:127px;
  width:195px;
  height:57px;
  display:flex;
  font-size:18px;
  color:#FFFFFF;
}
#u14602 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14602_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14603 {
  position:absolute;
  left:3px;
  top:185px;
  visibility:hidden;
}
#u14603_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:195px;
  height:87px;
  background-image:none;
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  overflow:hidden;
}
#u14603_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u14604_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:87px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#8C8C8C;
}
#u14604 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:87px;
  display:flex;
  color:#8C8C8C;
}
#u14604 .text {
  position:absolute;
  align-self:center;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u14604_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14605 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14606_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(140, 140, 140, 1);
  border-radius:5px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#8C8C8C;
}
#u14606 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:41px;
  width:180px;
  height:46px;
  display:flex;
  color:#8C8C8C;
}
#u14606 .text {
  position:absolute;
  align-self:center;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u14606_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:46px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(140, 140, 140, 1);
  border-radius:5px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#8C8C8C;
}
#u14606.mouseOver {
}
#u14606_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:46px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(22, 155, 213, 1);
  border-radius:5px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#8C8C8C;
}
#u14606.selected {
}
#u14606_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14607_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(140, 140, 140, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#8C8C8C;
}
#u14607 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:1px;
  width:180px;
  height:40px;
  display:flex;
  color:#8C8C8C;
}
#u14607 .text {
  position:absolute;
  align-self:center;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u14607_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(140, 140, 140, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#8C8C8C;
}
#u14607.mouseOver {
}
#u14607_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(22, 155, 213, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#8C8C8C;
}
#u14607.selected {
}
#u14607_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14608 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14609 {
  position:absolute;
  left:3px;
  top:243px;
  visibility:hidden;
}
#u14609_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:195px;
  height:87px;
  background-image:none;
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  overflow:hidden;
}
#u14609_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u14610_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:87px;
}
#u14610 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:87px;
  display:flex;
  color:#8C8C8C;
}
#u14610 .text {
  position:absolute;
  align-self:center;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u14610_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14611 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14612_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(140, 140, 140, 1);
  border-radius:5px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#8C8C8C;
}
#u14612 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:1px;
  width:181px;
  height:40px;
  display:flex;
  color:#8C8C8C;
}
#u14612 .text {
  position:absolute;
  align-self:center;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u14612_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(140, 140, 140, 1);
  border-radius:5px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#8C8C8C;
}
#u14612.mouseOver {
}
#u14612_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(22, 155, 213, 1);
  border-radius:5px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#8C8C8C;
}
#u14612.selected {
}
#u14612_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14613_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(140, 140, 140, 1);
  border-radius:5px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#8C8C8C;
}
#u14613 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:41px;
  width:181px;
  height:46px;
  display:flex;
  color:#8C8C8C;
}
#u14613 .text {
  position:absolute;
  align-self:center;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u14613_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:46px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(140, 140, 140, 1);
  border-radius:5px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#8C8C8C;
}
#u14613.mouseOver {
}
#u14613_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:46px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(22, 155, 213, 1);
  border-radius:5px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#8C8C8C;
}
#u14613.selected {
}
#u14613_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14614 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14615_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:57px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u14615 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:360px;
  width:195px;
  height:57px;
  display:flex;
  font-size:18px;
  color:#FFFFFF;
}
#u14615 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14615_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14616 {
  position:absolute;
  left:3px;
  top:418px;
  visibility:hidden;
}
#u14616_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:195px;
  height:126px;
  background-image:none;
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  overflow:hidden;
}
#u14616_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u14617_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:126px;
}
#u14617 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:126px;
  display:flex;
  color:#8C8C8C;
}
#u14617 .text {
  position:absolute;
  align-self:center;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u14617_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14618 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14619_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(140, 140, 140, 1);
  border-radius:5px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#8C8C8C;
}
#u14619 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:0px;
  width:180px;
  height:40px;
  display:flex;
  color:#8C8C8C;
}
#u14619 .text {
  position:absolute;
  align-self:center;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u14619_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(140, 140, 140, 1);
  border-radius:5px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#8C8C8C;
}
#u14619.mouseOver {
}
#u14619_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(22, 155, 213, 1);
  border-radius:5px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#8C8C8C;
}
#u14619.selected {
}
#u14619_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14620_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(140, 140, 140, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#8C8C8C;
}
#u14620 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:40px;
  width:180px;
  height:40px;
  display:flex;
  color:#8C8C8C;
}
#u14620 .text {
  position:absolute;
  align-self:center;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u14620_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(140, 140, 140, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#8C8C8C;
}
#u14620.mouseOver {
}
#u14620_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(22, 155, 213, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#8C8C8C;
}
#u14620.selected {
}
#u14620_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14621_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(140, 140, 140, 1);
  border-radius:5px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#8C8C8C;
}
#u14621 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:80px;
  width:180px;
  height:46px;
  display:flex;
  color:#8C8C8C;
}
#u14621 .text {
  position:absolute;
  align-self:center;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u14621_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:46px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(140, 140, 140, 1);
  border-radius:5px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#8C8C8C;
}
#u14621.mouseOver {
}
#u14621_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:46px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(22, 155, 213, 1);
  border-radius:5px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#8C8C8C;
}
#u14621.selected {
}
#u14621_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14622 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14623_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:57px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u14623 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:418px;
  width:195px;
  height:57px;
  display:flex;
  font-size:18px;
  color:#FFFFFF;
}
#u14623 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14623_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14624 {
  position:absolute;
  left:3px;
  top:476px;
  visibility:hidden;
}
#u14624_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:195px;
  height:93px;
  background-image:none;
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  overflow:hidden;
}
#u14624_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u14625_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:86px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#8C8C8C;
}
#u14625 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:86px;
  display:flex;
  color:#8C8C8C;
}
#u14625 .text {
  position:absolute;
  align-self:center;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u14625_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14626 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14627_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(140, 140, 140, 1);
  border-radius:5px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#8C8C8C;
}
#u14627 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:47px;
  width:180px;
  height:46px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#8C8C8C;
}
#u14627 .text {
  position:absolute;
  align-self:center;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u14627_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:46px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(140, 140, 140, 1);
  border-radius:5px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#8C8C8C;
}
#u14627.mouseOver {
}
#u14627_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:46px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(22, 155, 213, 1);
  border-radius:5px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#8C8C8C;
}
#u14627.selected {
}
#u14627_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14628_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(140, 140, 140, 1);
  border-radius:5px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#8C8C8C;
}
#u14628 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:1px;
  width:181px;
  height:46px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#8C8C8C;
}
#u14628 .text {
  position:absolute;
  align-self:center;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u14628_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:46px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(140, 140, 140, 1);
  border-radius:5px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#8C8C8C;
}
#u14628.mouseOver {
}
#u14628_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:46px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(22, 155, 213, 1);
  border-radius:5px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#8C8C8C;
}
#u14628.selected {
}
#u14628_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14629 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14630_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:57px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u14630 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:186px;
  width:195px;
  height:57px;
  display:flex;
  font-size:18px;
  color:#FFFFFF;
}
#u14630 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14630_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14631 {
  position:absolute;
  left:3px;
  top:244px;
  visibility:hidden;
}
#u14631_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:195px;
  height:8px;
  background-image:none;
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  overflow:hidden;
}
#u14631_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u14632_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:1px;
}
#u14632 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:1px;
  display:flex;
  color:#8C8C8C;
}
#u14632 .text {
  position:absolute;
  align-self:center;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u14632_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14633 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14634 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14635_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:57px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u14635 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:244px;
  width:195px;
  height:57px;
  display:flex;
  font-size:18px;
  color:#FFFFFF;
}
#u14635 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14635_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14636 {
  position:absolute;
  left:3px;
  top:302px;
  visibility:hidden;
}
#u14636_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:195px;
  height:8px;
  background-image:none;
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  overflow:hidden;
}
#u14636_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u14637_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:1px;
}
#u14637 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:1px;
  display:flex;
  color:#8C8C8C;
}
#u14637 .text {
  position:absolute;
  align-self:center;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u14637_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14638 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14639 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14640_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:57px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u14640 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:302px;
  width:195px;
  height:57px;
  display:flex;
  font-size:18px;
  color:#FFFFFF;
}
#u14640 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14640_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14641 {
  position:absolute;
  left:3px;
  top:360px;
  visibility:hidden;
}
#u14641_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:195px;
  height:8px;
  background-image:none;
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  overflow:hidden;
}
#u14641_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u14642_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:1px;
}
#u14642 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:1px;
  display:flex;
  color:#8C8C8C;
}
#u14642 .text {
  position:absolute;
  align-self:center;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u14642_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14643 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
